body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template: 1fr / 250px 1fr;
}

header{
    background-color: #07311d;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    img{
        width: 60%;
        margin: 16px 0;
    }
    
    nav{
        width: 100%;
        ul{
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;
            align-items: center;
            gap: 10px;
            li{
                width: 80%;
                text-align: center;
                padding: 10px 5px;
                border-radius: 50px;
                a{
                text-decoration: none;
                color: #eedfbb;
                font-size: 20px;
                font-family: helvetica, sans-serif;
                }
            }
            li:hover{
                background-color: #eedfbb;
            }
            li:hover a{
                color: #07311d;
            }
        }
    }
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eedfbb;
    color: #07311d;
}