:root{
    --neonPurple: #5e60ce;
    --neonBlue: #64dfdf;
    --palatinate-purple: #7400b8;
    --white: #ffffff;
    --skobeloff: #006466;
    
    --gradient-top-left: linear-gradient(225deg, #7400b8, #6930c3, #5e60ce, #5390d9, #4ea8de, #48bfe3, #56cfe1);
    --gradient-top: linear-gradient(180deg, #7400b8, #6930c3, #5e60ce, #5390d9, #4ea8de, #48bfe3, #56cfe1);
}